.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangle {
  width: 70%;
  height: 50%;

}

.App {
  font-family: Arial, sans-serif;
}
.App {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  position: absolute;
  inset: 0;
  width: 90%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.7) contrast(1.2);
  margin-left: 10px;
}

.form-container {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: 0 4px 6px rgba(236, 231, 231, 0.1);
  width: 320px; 
  filter: brightness(0.5) contrast(0.8);
 margin-right: 100px;
}

.form-container form {
  position: relative;
}

 h2 {
  color: rgb(129, 129, 173); 
  font-size: 40px;
  margin-top: auto;
  margin-bottom: 10px;
  
}
.w-full {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 90%;
}

.mb-6 {
  width: 50%;
  margin-left: 100px;
  margin-bottom: 10px;
}





.empty-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border: 30px solid  rgba(35, 34, 34, 0.5); 
  border-radius: 50%;
  box-shadow: 16px 16px 16px rgba(236, 231, 231, 0.1);
  filter: brightness(0.9) contrast(0.9);
  margin-bottom: 300px;
 left: 90px;
  z-index: 10; 
   }